<?xml version="1.0"?>
<config>
    <modules>
        <Twispay_Tpay>
            <version>1.0.0</version>
        </Twispay_Tpay>
    </modules>
    <global>
        <blocks>
            <tpay>
                <class>Twispay_Tpay_Block</class>
            </tpay>
        </blocks>
        <models>
            <tpay>
                <class>Twispay_Tpay_Model</class>
            </tpay>
        </models>
        <resources>
            <tpay_setup>
                <setup>
                    <module>Twispay_Tpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tpay_setup>
            <tpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tpay_write>
            <tpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tpay_read>
        </resources>
    </global>
    <default>
        <payment>
            <tpay>
                <model>tpay/PaymentMethod</model>
                <active>1</active>
                <liveMode>0</liveMode>
                <stagingSiteId></stagingSiteId>
                <stagingApiKey></stagingApiKey>
                <liveSiteId></liveSiteId>
                <liveApiKey></liveApiKey>
                <paymentServer></paymentServer>
            </tpay>
        </payment>
    </default>
    <frontend>
        <routers>
            <tpay>
                <use>standard</use>
                <args>
                    <module>Twispay_Tpay</module>
                    <frontName>tpay</frontName>
                </args>
            </tpay>
        </routers>
    </frontend>
</config>