<?xml version="1.0"?>
<config>
    <modules>
        <Twispay_Tpay>
            <version>1.0.0</version>
            <active>true</active>
        </Twispay_Tpay>
    </modules>
    <global>
        <blocks>
            <tpay>
                <class>Twispay_Tpay_Block</class>
            </tpay>
        </blocks>
        <models>
            <tpay>
                <class>Twispay_Tpay_Model</class>
            </tpay>
        </models>
        <resources>
            <tpay_setup>
                <setup>
                    <module>Twispay_Tpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tpay_setup>
            <tpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tpay_write>
            <tpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tpay_read>
        </resources>
        <helpers>
            <tpay>
                <class>Twispay_Tpay_Helper</class>
            </tpay>
        </helpers>
    </global>
    <default>
        <payment>
            <tpay>
                <model>tpay/PaymentMethod</model>
                <payment_action>authorize_capture</payment_action>
                <liveMode>0</liveMode>
                <stagingSiteId></stagingSiteId>
                <stagingApiKey></stagingApiKey>
                <liveSiteId></liveSiteId>
                <liveApiKey></liveApiKey>
                <paymentServer></paymentServer>
                <contactEmail></contactEmail>
            </tpay>
        </payment>
    </default>
    <frontend>
        <routers>
            <tpay>
                <use>standard</use>
                <args>
                    <module>Twispay_Tpay</module>
                    <frontName>tpay</frontName>
                </args>
            </tpay>
        </routers>
        <translate>
            <modules>
                <Twispay_Tpay>
                    <files>
                        <default>Twispay_Tpay.csv</default>
                    </files>
                </Twispay_Tpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <tpay module="Twispay_Tpay">
                    <file>tpay.xml</file>
                </tpay>
            </updates>
        </layout>
    </frontend>
</config>